/FlyWeight/FlyWeightForest/nbproject/private/
/FlyWeight/FlyWeightForest/build/
/FlyWeight/FlyWeightForest/dist/
/Decorator/DecoratorApp/nbproject/private/
/Decorator/DecoratorApp/build/
/Template/TemplateApp/nbproject/private/
/Template/TemplateApp/build/